body {
    text-align: center;
    background: #222;
    color: white;
    font-family: Arial;
}

#gameArea {
    width: 400px;
    height: 500px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
}

#player {
    width: 80px;
    height: 20px;
    background: blue;
    position: absolute;
    bottom: 10px;
    left: 160px;
}

#block {
    width: 40px;
    height: 40px;
    background: red;
    position: absolute;
    top: 0;
    left: 100px;
}
